

<div id="NavWrapper">
<nav class="navbar navbar-default">
 
  

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" >
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/gallery">Gallery</a>
        </li>
      
        <li routerLinkActive="active">
          <a routerLink="/contact">Contact</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Authenticate</a>
        </li>
   
        
     
          
  
        
            <li *ngIf="isAuthenticated">
              <a routerLink="/all-images" style="cursor: pointer;" >All images </a>
            </li>
            <li *ngIf="isAuthenticated">
              <a routerLink="/add-image" style="cursor: pointer;" >Add image </a>
            </li>
        
            <li *ngIf="isAuthenticated">
              <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
            </li>
            
     
      </ul>
    </div>
 
</nav>
</div>
