<div id="Wrapper">
  <app-header></app-header>
  <img id="Image" src="../../assets/images/HomeImage.jpg" alt="home image"> 
  <div class="buttonContainer">
  <input class="myButton" #query (keyup)="filter(query.value)" type="text" placeholder="Search...">
</div>
  <div class="title">Wildlife</div>
  <div class="sub-title">Hidden deep into the mountain they live an amazing life</div>
  <ul *ngFor="let image of filteredImages">
    <li>
      <div class="item-container">
        <a routerLink="/detailed-image/{{image.id}}" style="cursor: pointer;" ><img class="section-item-img" src="{{image.imageUrl}}"/></a>
        Title: {{image.title}}, 
        Description: {{image.description}}, 
        techSpec: {{image.techData}} 
      </div>
    </li>
  </ul>
</div>