#HR{
  border-bottom: 1px solid white;
  margin: 3px;
  opacity: 0.7;
  width: 100%;
}
#Title{
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
 padding:20px;
}
#SubTitle{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
#Image{
  object-fit: cover;
  height: 100vh;
  margin-top:-330px;
  z-index:-1;
  @media (max-width: 768px) {
    overflow: auto;
  }
}

.form-group{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}
a {
    text-decoration: none;
  }
.login-form{
  display: flex;
  width:350px;
  height:350px;
  background-color: #ffffff;
  flex-direction: column;
  padding:20px;
  opacity:0.9;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
input{
  margin:5px;
}

#Wrapper {
  margin-left:10px;
  margin-right:10px;
  display: flex;   
  margin-top:30px; 
  flex-direction: column;
  height: calc(100vh);


}

.form-control{
  height:40px;
  width:200px;
}


