


    <div id="NavWrapper">
      <ul id="UlList" onMouseOver={Hover}>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="/auth" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/auth" routerLinkActive="active">Auth</a></li>
        <li></li>
      </ul>

    </div>
