<div id="Wrapper">
    <app-header></app-header>
    <img id="Image" src="../../assets/images/HomeImage.jpg" alt="home image"> 
    <ul *ngFor="let message of findMessages(messages)" >
      <li class="all-images">
        <div class="item-container">
          <div class="titleP"><b>Author: </b>{{message.author}}</div> 
          <div class="titleP"><b>Email:</b> {{message.email}}</div> 
          <div class="titleP"><b>Description:</b> {{message.message}}</div>
          <div class="titleP"><button class="myButton" (click)="onDelete(message.id)" style="cursor: pointer;" >Delete</button></div>
        </div>
      </li>
    </ul>
  </div>